@import '../partials/global.scss';

.container {
	display: flex;

	&-heading {
		text-align: center;
    }
    
    &-nav {
        width: 288px;
        margin-left: 25px;
    }
}

.option {
	&-one {
        margin-bottom: 53px;
        margin-top: 24px;
		width: 104px;
		height: 40px;
		font-family: Avenir;
		font-size: 40px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	&-two {
		margin-bottom: 29px;
		width: 106px;
		height: 44px;
		font-family: Avenir;
		font-size: 32px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	&-three {
		margin-bottom: 34px;
		width: 127px;
		height: 44px;
		font-family: Avenir;
		font-size: 32px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	&-four {
		margin-bottom: 25px;
		width: 72px;
		height: 44px;
		font-family: Avenir;
		font-size: 32px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	&-five {
		margin-bottom: 25px;
		width: 126px;
		height: 44px;
		font-family: Avenir;
		font-size: 32px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}
}

.filter {
    display: flex;

    &-img {
        width: 63px;
        height: 63px;
        object-fit: contain;
        margin-top: 18px;
    }

    &-ellipse-2{
        width: 64px;
    height: 64px;
    object-fit: contain;
    box-shadow: 6px 0 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    }
}
