.Slice-1 {
    width: 1440px;
    height: 1024px;
    object-fit: contain;
    background-image: url('../assets/images/Slice\ 1@3x.png');
    background-position: center;
    overflow: hidden;
    background-size: cover;
  }