@font-face {
    font-family: avenir-reg;
    src: url("../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: avenir-demi-bold;
    src: url("../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: avenir-bold;
    src: url("../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
}
​

// Reset
* {
	margin: 0;
	padding: 0;
    border: 0;
    font-family: avenir-reg;
    font-weight: 100;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    // color:;
}









