* {
  box-sizing: border-box;
}


.Rectangle-1 {
    width: 209px;
    height: 48px;
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
